.background    { background: rgb(48, 213, 200);
                 table-layout: fixed;
                 border-spacing: 1;   }
.background td { padding: 1;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;   }

.game {
  position: relative;
}
